kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: {{ .Values.pvc }}
  labels:
    {{- include "postgres.labels" . | nindent 4 }}
spec:
  accessModes:
  # access mode should be RWO for sts as each sts pod is guaranteed a pv
  - ReadWriteOnce
  resources:
    requests:
      storage: 2Gi
      