USER-SUPPLIED VALUES:
global:
  env: local
  gcpApi:
    secret: gcp-api-credentials
  postgres:
    db: kubernetes_django
    host: postgres-service
    pvc: postgres-pvc
    secret: {{ .Values.global.postgres.secret }}
    volume: postgres-volume-mount
  redis:
    host: redis-service
