apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "auth.fullname" . }}
  labels:
    {{- include "auth.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "auth.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "auth.selectorLabels" . | nindent 8 }}
    spec:
      containers:
      - name: {{ .Chart.Name }}
        image: {{ if .Values.global.imageName }}{{ .Values.global.imageName }}{{ else }}"{{ .Values.global.image.repository }}:{{ .Values.global.image.tag }}"{{ end }}
        imagePullPolicy: {{ if .Values.global.image.pullPolicy }}{{ .Values.global.image.pullPolicy }}{{ else }}"Never"{{end}}
        env: 
        - name: POSTGRES_HOST
          value: postgres-service
        - name: POSTGRES_USER
          valueFrom:
            secretKeyRef:
              name: postgres-credentials
              key: user
        - name: POSTGRES_PASSWORD
          valueFrom:
            secretKeyRef:
              name: postgres-credentials
              key: password
        - name: REDIS_HOST
          value: redis-service
        - name: PLACES_TOKEN
          value: AIzaSyCyOceoFGw8n_lopxTxLuL-OXoatF21jWE
        resources:
          {{- toYaml .Values.resources | nindent 12 }}
        ports:
        - name: http
          containerPort: 8080
          protocol: TCP
    {{- include "charts.volume" . | nindent 6 }}
    volumes:
    - name: {{ .Release.Name }}-v
      hostPath:
        path: {{ .Values.global.codePath }}
