apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "auth.name" . }}
  labels:
    {{- include "auth.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "auth.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "auth.selectorLabels" . | nindent 8 }}
    spec:
      containers:
      - name: {{ .Chart.Name }}
        image: {{ .Values.image.repository | quote }}
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        env: 
        - name: POSTGRES_HOST
          value: {{ .Values.global.postgres.host }}
        - name: REDIS_HOST
          value: {{ .Values.global.redis.host }}
        - name: PLACES_TOKEN
          valueFrom:
            secretKeyRef:
              name: {{ .Values.global.gcpApi.secret }}
              key: PLACES_TOKEN
        {{- include "charts.env" . | nindent 8 }}
        resources:
          {{- toYaml .Values.resources | nindent 12 }}
        ports:
        - name: http
          containerPort: 8080
          protocol: TCP
       